.mix
    .card-content
        padding: 10px
    
    .download
        background: #3cc34c !important
        margin-right: 10px
        
        &:hover
            background: darken(#3cc34c, 15%) !important
        
    .play
        background: #ff5722 !important
        
        &:hover
            background: darken(#ff5722, 15%) !important
    
    .cover-wrapper
        width: 100%

    .cover
        width: 100%