.search
    width: 400px
    position: relative
    display: flex

    a
        width: 52px
        height: 52px
        display: inline-block
        
        i
            margin: 8px -9px
            color: white
            font-size: 24px

    input
        margin: 0
        border: none
        padding: 5px 10px
        font-size: 16px
        font-weight: 400
        display: inline-block
        
        &:focus
            border: none !important
            box-shadow: none !important
    
    .reset-button
        background: #ff6e6e
        
        &:hover
            background: darken(#ff6e6e, 15%)

    .search-button
        background: #4788ff
        
        &:hover
            background: darken(#4788ff, 15%)