.social
    text-align: center
    margin-bottom: 20px
    
    a
        margin: 0 5px
    
    .vk
        background: #4f7296
        
        &:hover
            background: lighten(#4f7296, 15%)

    .facebook
        background: #3b5998
        
        &:hover
            background: lighten(#3b5998, 15%)
        
    .twitter
        background: #1da1f2
        
        &:hover
            background: lighten(#1da1f2, 15%)

    .instagram
        background: #c6369d
        
        &:hover
            background: lighten(#c6369d, 15%)