@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,400italic,100italic,700,700italic&subset=latin,latin-ext);

@import "utils/vars"


@import "templates/loading"

// components
@import "components/player"
@import "components/controls"


@import "general"

html
    background: #383b44

body
    padding-top: 150px